.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.idea
build/
dist/
loop_to_python_api.egg-info/
loop_to_python_api/__pycache__/
python_tests/__pycache__/
venv/
*csv

awscli-bundle/install
awscli-bundle/packages/awscli-1.37.16.tar.gz
awscli-bundle/packages/botocore-1.36.16.tar.gz
awscli-bundle/packages/colorama-0.4.5.tar.gz
awscli-bundle/packages/docutils-0.16.tar.gz
awscli-bundle/packages/jmespath-0.10.0.tar.gz
awscli-bundle/packages/jmespath-1.0.1.tar.gz
awscli-bundle/packages/pyasn1-0.6.1.tar.gz
awscli-bundle/packages/python-dateutil-2.9.0.post0.tar.gz
awscli-bundle/packages/pyyaml-6.0.2.tar.gz
awscli-bundle/packages/rsa-4.7.2.tar.gz
awscli-bundle/packages/s3transfer-0.11.2.tar.gz
awscli-bundle/packages/six-1.17.0.tar.gz
awscli-bundle/packages/urllib3-1.26.20.tar.gz
awscli-bundle/packages/virtualenv-16.7.8.tar.gz
awscli-bundle/packages/setup/setuptools_scm-3.3.3.tar.gz
awscli-bundle/packages/setup/wheel-0.33.6.tar.gz
awscli-bundle.zip
