.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.idea
build/
dist/
loop_to_python_api.egg-info/
loop_to_python_api/__pycache__/
python_tests/__pycache__/
